.form {
  width: 100%;
  max-width: 480px;
  margin: auto;
}

.title {
  margin-bottom: 68px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.inputArea {
  margin-bottom: 48px;
}

.loginButton {
  width: 100%;
}

.signupText {
  margin-top: 12px;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
}

.signUpLink {
  color: #18a0fb;
  text-decoration: none;
}

.signUpLink:hover {
  text-decoration: underline;
}
